{% extends "inventory/base.html" %}
{% load staticfiles %}
{% load card_filters %}
{% block content %}
    {% if card %}
        <table class="table">
        <tr>
            <td>{{ card.name }}</td>
            <td class="fit" rowspan="5"><img src="{% static card.image %}" /></td>
        </tr>
        <tr>
            <td>{{ card.mana_cost | replace_symbols | safe }}</td>
        </tr>
        <tr>
            <td>{{ card.super_types_text }} {{ card.types_text }} {{ card.sub_types_text | insert_subtypes }}</td>
            <td></td>
            <td>{{ card.price }}</td>
        </tr>
        <tr>
            <td>
                {% autoescape on %}
                    {{ card.rules_text | replace_symbols | italicize_reminder_text | safe | linebreaksbr}}
                {% endautoescape %}
            </td>
        </tr>
        <tr>
            <td>
                {% autoescape on %}
                    <i>{{ card.flavor_text | linebreaksbr}}</i>
                {% endautoescape %}
            </td>
        </tr>
        </table>
    {% endif %}
{% endblock %}