{% extends "inventory/base.html" %}
{% load staticfiles %}
{% block content %}
    {% if card_list %}
        <div class="pagination">
            <span class="step-links">
                {% if card_list.has_previous %}
                    {% block prev_page_top %}
                        <a href="?page={{ card_list.previous_page_number }}">previous</a>
                    {% endblock %}
                {% endif %}

                <span class="current">
                    Page {{ card_list.number }} of {{ card_list.paginator.num_pages }}
                </span>

                {% if card_list.has_next %}
                    {% block next_page_top %}
                        <a href="?page={{ card_list.next_page_number }}">next</a>
                    {% endblock %}
                {% endif %}
            </span>
        </div>
        <table class="table table-hover table-striped table-small">
            <tr>
                <th class="fit"></th>
                <th>Name</th>
                <th>Set</th>
                <th>Stock</th>
                <th>Price</th>
            </tr>
            {% for card in card_list %}
                <tr>
                    <td class="fit"><img src="{% static card.image %}" alt="{{ card.name }}" class="stock-table-image"/></td>
                    <td><a href="{% url 'inventory:card_details' card.id %}">{{ card.name }}</a></td>
                    <td><a href="{% url 'inventory:cardset' card.set.id %}">{{ card.set }}</a></td>
                    <td>{{ card.stock }}</td>
                    <td>${{ card.price|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if card_list.has_previous %}
                    {% block prev_page_bottom %}
                        <a href="?page={{ card_list.previous_page_number }}">previous</a>
                    {% endblock %}
                {% endif %}

                <span class="current">
                    Page {{ card_list.number }} of {{ card_list.paginator.num_pages }}
                </span>

                {% if card_list.has_next %}
                    {% block next_page_bottom %}
                        <a href="?page={{ card_list.next_page_number }}">next</a>
                    {% endblock %}
                {% endif %}
            </span>
        </div>
    {% else %}
    <p>There aren't any cards!!</p>
    {% endif %}
{% endblock %}