{% extends "inventory/base.html" %}
{% load staticfiles %}
{% block content %}
    {% if card_list %}
        <table class="table table-hover table-striped table-small">
            <tr>
                <th class="fit"></th>
                <th>Name</th>
                <th>Set</th>
                <th>Stock</th>
                <th>Price</th>
            </tr>
            {% for card in card_list %}
                <tr>
                    <td class="fit"><img src="{% static card.image %}" alt="{{ card.name }}" class="stock-table-image"/></td>
                    <td><a href="{% url 'inventory:card_details' card.id %}">{{ card.name }}</a></td>
                    <td>{{ card.set.code }}</td>
                    <td>{{ card.stock }}</td>
                    <td>${{ card.price|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>There aren't any cards!!</p>
    {% endif %}
{% endblock %}