{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% if set_list %}
    <ul>
        {% for set in set_list %}
            <li><a href="{% url 'inventory:cardset' set.id %}">{{ set }}</a></li>
        {% endfor %}
    </ul>
{% else %}
<p>There aren't any sets!!</p>
{% endif %}