.stock-table-image {
    width: 128px;
    height: auto;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

img.searchbox{
    height: 128px;
    width: auto;
}

img.icon {
    height: 16px;
    width: auto;
    vertical-align: text-top;
}

.set-row figure {
    display: none;
}

.card-picture img {
    display: block;
    border-radius: 0.8em;
    max-width: 100%;
    height: auto;
}

.set-row:hover figure {
    display: block;
    position: fixed;
    overflow: hidden;
}

.table-nonfluid {
    width: auto !important;
}